#contactUsBanner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#contactUsBanner > .wrapper{
    width: 100%;
    height: 100%;
    max-width: 1536px;
    padding: 50px 100px;
}

#contactUsBanner > .wrapper > .container{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 30px 50px;
}

#contactUsBanner > .wrapper > .container > .text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contactUsBanner > .wrapper > .container > .text > p{
    color: white;
}

#contactUsBanner > .wrapper > .container > .text > p:first-child{
    font-size: 32px;
    font-weight: 500;
}

#contactUsBanner > .wrapper > .container > .text > p:last-child{
    font-size: 20px;
    font-weight: 300;
}

#contactUsBanner > .wrapper > .container > a{
    width: 190px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    font-weight: 600;
    background-color: white;
    border-radius: 12px;
    transition: opacity 250ms ease-in-out;
}

#contactUsBanner > .wrapper > .container > a:hover{
    opacity: 0.9;
}

@media only screen and (max-width: 1024px){
    #contactUsBanner > .wrapper{
        padding: 50px;
    }

    #contactUsBanner > .wrapper > .container > .text > p:first-child{
        font-size: 28px;
    }

    #contactUsBanner > .wrapper > .container > .text > p:last-child{
        font-size: 18px;
    }
}

@media only screen and (max-width: 767px){
    #contactUsBanner > .wrapper > .container{
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    #contactUsBanner > .wrapper{
        padding: 20px;
    }
}

@media only screen and (max-width: 425px){
    #contactUsBanner > .wrapper > .container{
        border-radius: 0;
    }

    #contactUsBanner > .wrapper > .container > a{
        width: 180px;
        height: 50px;
    }

    #contactUsBanner > .wrapper{
        padding: 20px 0px;
    }
}