#productGrid{
    position: relative;
    padding: 50px 0;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#productGrid > .coming-soon{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

#productGrid > .coming-soon > p{
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#productGrid > .coming-soon > p.main{
    font-size: 42px;
    font-weight: bold;
}

#productGrid > .coming-soon > p.sub{
    text-align: center;
    max-width: 1000px;
    font-size: 16px;
    font-weight: 400;
}

#productGrid > .action{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#productGrid > .action > p{
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    transition: color 250ms ease-in-out;
}

#productGrid > .action > p:hover{
    color: var(--primary);
}

#productGrid > .products-container{
    position: relative;
    width: 100%;
}



#productGrid > .products-container > .products{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#productGrid > .products-container > .products > .product{
    position: relative;
    width: 100%;
    height: 410px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

#productGrid > .products-container > .products > .product > .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

#productGrid > .products-container > .products > .product > .background > .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--hero-overlay-dark2);
    z-index: 0;
}

#productGrid > .products-container > .products > .product > .background > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    
}

#productGrid > .products-container > .products > .product > .label{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    z-index: 1;
    transition: color 0.5s ease-in-out;
}

#productGrid > .products-container > .products > .product:hover > .label{
    color: var(--primary);
}

#productGrid > .products-container > .products > .product:hover > .background{
    transform: scale(1.2);
}

@media only screen and (max-width: 1336px){
    #productGrid > .products-container > .products > .product{
        height: 350px;
    }
}

@media only screen and (max-width: 1024px){
    #productGrid > .products-container > .products > .product{
        height: 300px;
    }

    #productGrid > .products-container > .products > .product > .label{
        font-size: 20px;
    }
}

@media only screen and (max-width: 960px){
    #productGrid > .products-container > .products{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 700px){
    #productGrid > .products-container > .products{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 425px){
    #productGrid > .coming-soon > p.main{
        font-size: 32px;
        text-align: center;
    }

    #productGrid > .coming-soon > p.sub{
        font-size: 14px;
    }
}

@media only screen and (max-width: 340px){
    #productGrid > .products-container > .products > .product{
        height: 250px;
    }
}